.masonry-grid {
  display: flex;
  margin-left: -1.25rem;
  width: auto;
}

.masonry-grid_column {
  padding-left: 1.25rem;
  background-clip: padding-box;
}

.masonry-grid_column > div {
  margin-bottom: 1.25rem;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
